<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body onload="clearInput()">
    <div class="header">
        <strong>W</strong>ang<strong>C</strong>a<strong>I</strong> <strong>SQL</strong> Parser....
    </div>
    <form action="/sql/parse" method="post" name="main" onsubmit="return false">
        <div class="main">
            <div>
                SQL Input:
            </div>
            <div>
                <textarea rows="10" cols="100" name="sql">
                </textarea>
            </div>
            <div class="button">
                <button id="parseBtn" onclick="sqlParse()">parse</button>
            </div>
        </div>
    </form>
    </body>

</html>